@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: "Roboto Condensed", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1 {
    font-weight: 600;
    text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black;
    color: #cfcfcf;
    text-align: center;
    padding: 20px 0;
}

.boxok {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.box {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    width: 30%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.box h2 {
    text-align: center;
    color: #555;
}

.hozzaad {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

#ujFeladatInput {
    font-family: "Roboto Condensed", sans-serif;
    padding: 6px;
    margin-top: 10px;
    border: 1px solid #ccc;
    box-shadow: inset 0 0 9000px rgba(0, 0, 0, 0.158);
    border-radius: 5px;
    font-weight: 600;
}

#hozzaadGomb {
    font-family: "Roboto Condensed", sans-serif;
    background-color: #28a745;
    border: none;
    padding: 6px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-weight: 600;
    text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;

}
